<!-- Start Product -->
<div class="CategoryProduct">
  <div class="ProductWrapper">   
    <img data-src="thumb" data-alt="name" class="ProductThumb" onerror="this.src='/assets/images/default_product.png';" />
    
    <div class="ProductActionWrapper">
    	<!-- Product Rating -->
      <div class="ProductRating">
        <input value="5*" readonly=""/>
      </div>
      
      <!-- Product Buttons -->
      <div class="ProductButtons">
      	<!-- Add Product to Cart -->
        <button class="ProductButton ProductAddToCart" title="Add to Cart"><i class="fa fa-plus"></i></button>
        <!-- View Product Details -->
				<button class="ProductButton ProductViewMore"><a data-href="link" title="View Details"><i class="fa fa-search"></i></a></button>
      </div><!-- ./ProductButtons -->
    </div><!-- ./ProductActionWrapper -->
  </div><!-- ./ProductWrapper -->

  <div class="ProductInfo">
  	<div class="ProductName" data-content="name"></div>
		<div class="ProductPrice" data-content="price"></div>
  </div><!-- ./ProductInfo -->
</div>
<!-- End Product -->